@import "../../../../style/mixins/_breakpoints.scss";

.person {
  display: flex;
  padding: 2rem 6rem;
  background: linear-gradient(25deg, rgb(0, 0, 0) 60%, rgb(45, 212, 191));

  &__img {
    border-radius: 1.5rem;
    width: 20%;

    @include media-breakpoint-down(xl) {
      width: 40%;
    }
  }

  &__container {
    margin-left: 2rem;
  }

  &__name {
    margin-bottom: 30%;
  }

  &__info {

    &-list {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding-left: 0;

      li {
        list-style-type: none;
        display: inline-grid;
        grid-gap: 2rem 3rem;
        grid-column-gap: 2.8rem;
        grid-template-columns: 10rem 1fr;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  .person {
    padding: 2rem 2rem 0 2rem;
  }
}

@include media-breakpoint-down(sm) {
  .person {
    padding: 1rem 1rem 0 1rem;
    flex-direction: column;
    &__main {
      display: flex;
    }

    &__img {
      margin-right: 1rem;
    }

    &__container {
      margin-left: 0;
    }
  }

}
