<ng-container *ngIf="isLargeMobile; else desktopHeader">
  <div class="movie-list__header">
    <h2>{{ header }}</h2>
    <button pButton pRipple type="button" icon="pi pi-sliders-h" class="p-button-rounded p-button-text grey icon" (click)="showFiltersModal = true"></button>
  </div>
</ng-container>

<ng-template #desktopHeader>
  <h1>{{ header }}</h1>
</ng-template>

<form *ngIf="!isLargeMobile" [formGroup]="form" class="filter-form">
  <p-dropdown
    formControlName="genres"
    [options]="genres"
    optionLabel="name"
    placeholder="Жанры"
  ></p-dropdown>
  <p-dropdown
    formControlName="rating"
    [options]="ratings"
    optionLabel="name"
    placeholder="Рейтинг"
  ></p-dropdown>
  <p-dropdown
    formControlName="years"
    [options]="years"
    optionLabel="name"
    placeholder="Годы выхода"
  ></p-dropdown>
  <div class="filter-form__checkbox">
    <p-checkbox formControlName="topKp" [binary]="true" inputId="binary"></p-checkbox>
    <span>Топ-250</span>
  </div>
</form>

<ng-container *ngIf="movies.length >= limit">
  <div class="movie-list">
    <ng-container *ngFor="let movie of movies">
      <a class="movie-list__item" routerLink="/film/{{ movie.id }}">
        <img
          class="movie-list__img"
          [src]="movie.poster.url || movie.poster.previewUrl"
          alt="preview"
          (load)="showMovie = true"
        />
        <div
          *ngIf="showMovie && +movie.rating.kp > 0"
          class="badge badge-{{ movie.rating.kp | checkColorRating }}"
        >
          {{ movie.rating.kp | number: '1.1-1' }}
        </div>
      </a>
    </ng-container>
  </div>
</ng-container>

<ng-container *ngIf="notFound && !showSpinner">
  <div class="not-found">
    <h3>Увы, нам ничего не удалось найти</h3>
    <span>Попробуйте изменить фильтры или сбросьте их</span>
    <button pButton type="button" label="Сбросить фильтры" (click)="formReset()"></button>
  </div>
</ng-container>

<p-sidebar class="sidebar" [(visible)]="showFiltersModal" [fullScreen]="true" [baseZIndex]="10000">
  <form
    *ngIf="isLargeMobile"
    [formGroup]="form"
    class="filter-form"
    (ngSubmit)="submit()"
    #ngForm="ngForm"
  >
    <p-dropdown
      formControlName="genres"
      [options]="genres"
      optionLabel="name"
      placeholder="Жанры"
      class="filter-form__dropdown"
    ></p-dropdown>
    <p-dropdown
      formControlName="rating"
      [options]="ratings"
      optionLabel="name"
      placeholder="Рейтинг"
    ></p-dropdown>
    <p-dropdown
      formControlName="years"
      [options]="years"
      optionLabel="name"
      placeholder="Годы выхода"
    ></p-dropdown>
    <div class="filter-form__checkbox">
      <p-checkbox formControlName="topKp" [binary]="true" inputId="binary"></p-checkbox>
      <span>Топ-250</span>
    </div>
    <p-button
      class="filter-form__btn"
      label="Показать результаты"
      (click)="ngForm.onSubmit($event)"
    ></p-button>
  </form>
</p-sidebar>

<!--Провоцируем вызов события onScroll-->
<div
  *ngIf="showSpinner"
  class="spinner"
  appEnterTheViewportNotifier
  (visibilityChange)="onScroll($event)"
>
  <p-progressSpinner></p-progressSpinner>
</div>
