:host {
  padding: 0 6rem;
  display: block;
  flex: 1 0 auto;
}

.movie-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  /* Два ряда */
  grid-template-rows: auto auto;
  /* Автоматическое размещение в ряд */
  grid-auto-flow: row;
  gap: 2rem;

  &__img {
    width: 100%;
  }

}

.spinner {
  text-align: center;
}
