:host {
  padding: 0 6rem;
  display: block;
  flex: 1 0 auto;
}

.movie-list {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  /* Два ряда */
  grid-template-rows: auto auto;
  /* Автоматическое размещение в ряд */
  grid-auto-flow: row;
  gap: 2rem;

  margin-top: 2rem;

  &__item {
    position: relative;
    transition: 1s;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__img {
    width: 100%;
  }
}

.filter-form {
  display: flex;
  align-items: center;
  gap: 1rem;

  &__checkbox {
    label {
      margin-left: .5rem;
      color: rgba(255, 255, 255, 0.87);
    }
  }
}

.not-found {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 10% auto;
  align-items: center;

  button {
    margin-top: 1rem;
    width: 13rem;
  }

  span {
    color: rgba(255, 255, 255, 0.6);
  }
}

.spinner {
  text-align: center;
}
