:host {
  display: block;
  padding: 1rem 6rem;
}

.header__logo {
  font-size: 2.5rem;
  text-decoration: none;
  color: #2dd4bf;
  display: flex;
  align-items: center;

  svg {
    width: 2rem;
  }

  img {
    width: 5rem;
  }
}
