@import "../../../style/mixins/_breakpoints.scss";

:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 6rem;
}

.header {
  &__logo {
    font-size: 2.5rem;
    text-decoration: none;
    color: #2dd4bf;
    align-items: center;

    span {
      font-family: "Bangers", system-ui;
      font-weight: 400;
      font-style: normal;
      font-size: 3rem;
    }

    svg {
      width: 2rem;
    }

    img {
      width: 5rem;
    }
  }

  &__icons {
    display: flex;
    gap: 1.25rem;
  }


  &__nav {
    font-weight: 700;
    &-item {
      font-size: 1rem;
      color: rgba(255,255,255,.56);

      &:not(:last-child) {
        margin-right: 2rem;
      }

      &_active {
        color: white;
        padding-bottom: 1rem;
        border-bottom: 1px solid #2dd4bf;
      }
    }
  }
}

@include media-breakpoint-down(lg) {
  :host {
    padding: 1rem 2rem;
  }

  .header {
    &__nav {
      display: flex;
      flex-direction: column;
      &-item {
        font-size: 1.5rem;
        margin-right: 0;
        padding-left: .5rem;
        margin-bottom: 1.5rem;

        &_active {
          color: white;
          padding-bottom: 0;
          border-left: 2px solid #2dd4bf;
          border-bottom: none;
        }
      }
    }
    &__logo {
      span {
        font-size: 2.5rem;
      }
    }
  }

  .icon {
    color: rgba(255, 255, 255, 0.96);
  }
}

@include media-breakpoint-down(sm) {
  :host {
    padding: 1rem;
  }
}


.icon {
  font-size: 1.5rem;
  cursor: pointer;
}
.sidebar {
  display: contents;
}
