:host {
  display: block;
  padding: 0 6rem;
}
.detailed {
  &__films {
    display: flex;
    justify-content: space-around;

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-link {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__award {
    display: flex;
    flex-direction: column;
    &-item {
      display: grid;
      grid-template-columns: 20% 50% 30%;

      margin-bottom: 1rem;
    }
  }
}
