<p-divider></p-divider>
<div class="detailed-tabs">
  <p-tabView>
    <p-tabPanel header="Лучшие работы">
      <div class="detailed__films">
        <ng-container *ngFor="let item of topFilms">
          <div class="detailed__films-container">
            <h2>{{item.title}}</h2>
            <ng-container *ngFor="let film of item.films">
              <a routerLink="/movie/{{film.id}}" class="detailed__films-link grey">{{film.name}}</a>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </p-tabPanel>

    <p-tabPanel *ngIf="!!awards.length" header="Награды">
      <ng-container *ngFor="let award of awards">
        <div class="detailed__award">
          <h2>{{award.title}}</h2>
          <ng-container *ngFor="let item of award.nominations">
            <div class="detailed__award-item">
              <span >{{item.nomination.award.year}}</span>
              <span>
                {{item.nomination.title}}
                <span>({{item.winning ? 'Победа' : 'Номинация'}})</span>
              </span>
              <a routerLink="/movie/{{item.movie.id}}" class="detailed__films-link grey">{{item.movie.name}}</a>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </p-tabPanel>
  </p-tabView>
</div>
