@import "../../../../style/mixins/_breakpoints.scss";

:host {
  display: block;
  padding: 0 6rem;
}
.detailed {
  &__films {
    display: flex;
    justify-content: space-around;

    &-container {
      display: flex;
      flex-direction: column;
    }

    &-link {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__award {
    display: flex;
    flex-direction: column;
    &-item {
      display: grid;
      grid-template-columns: 20% 50% 30%;

      margin-bottom: 1rem;
    }
  }
}

a:hover {
  color: #2dd4bf;
}

@include media-breakpoint-down(lg) {
  :host {
    display: block;
    padding: 0 2rem;
  }

  .detailed {
    &__films {
      justify-content: start;
      flex-wrap: wrap;

      &-container {
        width: 50%;
      }
    }
  }
}

@include media-breakpoint-down(sm) {
  :host {
    display: block;
    padding: 0 1rem;
  }

  .detailed {
    &__films {
      flex-direction: column;
    }
  }
}


