.carousel {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  position: relative;
  transition: 1s;

  &:hover {
    transform: scale(1.05);
  }

  &__img {
    width: 90%;
    height: 100%;
  }
}

.header {
  transition: .2s linear;

  &:hover {
    color: #2dd4bf;
  }
}

