.carousel {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
  position: relative;
  transition: .5s;
  margin: .5rem;

  &:hover {
    transform: scale(1.05);
  }

  &__img {
    border-radius: 1rem;
    width: 90%;
    height: 92%;
  }
}

.header {
  transition: .1s linear;

  &:hover {
    color: #2dd4bf;
  }
}
