html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Rubik, 'Helvetica Neue', sans-serif;
  background-color: black;
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

.mb-2 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.m-auto {
  margin: auto;
}

.grey {
  color: rgba(255, 255, 255, 0.56);
}

.badge {
  position: absolute;
  top: 2%;
  left: 4%;
  color: #ffffff;
  padding: 0.2rem;
  border-radius: 0.5rem;

  &-white {
    background-color: rgba(255, 255, 255, 0.56);
  }

  &-red {
    background-color: #bd0404;
  }

  &-green {
    background-color: #41a807;
  }

  &-gold {
    background-color: #eec085;
    color: black;
  }
}
