/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Rubik, "Helvetica Neue", sans-serif; background-color: black; color: white}
.mb-2 {
  margin-bottom: 1rem;
}

.mb-4 {
  margin-bottom: 2rem;
}

.m-auto {
  margin: auto;
}
